body {
    background-color: orange;
}

#box { width: 100px; height: 100px; position: absolute; background: burlywood; left: 200px; top: 200px;  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjq1qb6_vjkAhWLup4KHV8qBtkQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.apple.com%2Fshop%2Fproduct%2FMRMH2LL%2FA%2Fmagic-keyboard-with-numeric-keypad-us-english-space-gray&psig=AOvVaw3aa5qjXrGtb9QQyEAqozoM&ust=1569948203991161")}

